aiohttp
arxiv
autorootcwd
chromadb
faiss-cpu
google-generativeai==0.8.5
httpx
IPython
langchain-google-genai==2.0.10
langchain-huggingface
langchain-openai
langgraph
nougat-ocr
numpy
openreview-py
pandas
plotly
PyMuPDF
python-dotenv
requests
scikit-learn
scipy
sentence-transformers
streamlit
torch
transformers
tqdm
vllm
pytest
